

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Quicksand', sans-serif;

font-family: 'Open Sans', sans-serif;
/* font-family: 'Quicksand', sans-serif; */

}
.Dark{

    ---bodyColor:#191D23;
    ---header:#4A4DAE;
    ---headerfont:white;
    ---headericon:beige;
    ---floatingColor:#7B57E0;
    ---dialogDrop:#1a759f;
    ---entryBox:white;
    ---inputFocus:#f1faee ;
    ---create:white;
    ---remove:white;
    ---createBackground:#1D3557 ;
    ---removeBackground:#E63946;
    ---detailsBackground:#262c36;
    ---detailsColor:white;
    ---detailsBorderbottom:#334e68; 
}
.Light{

    ---bodyColor:#F1F3F4;
    ---header:#50C099;
    ---headerfont:black;
    ---headericon:black;
    ---floatingColor:#FFC565;
    ---dialogDrop:#1a759f;
    ---entryBox:black;
    ---inputFocus:#f1faee ;
    ---create:black;
    ---remove:black;
    ---createBackground: #F9837C;
    ---removeBackground:#E63946;
    ---detailsBackground:#5DAAEE;
    ---detailsColor:white;
    ---detailsBorderbottom:#DCE3EB; 









}




body{

background-color:var(---bodyColor);
overflow-x:hidden;


}

.header{

    display: flex;
    justify-content:space-evenly;
   height: 100px;
    width: 100vw;
    background-color: var(---header);
    color: var(---headerfont);
    position: sticky;
    top: 0px;
    
}

#github{

    width: 174px;
    height: 50px;
    align-self: center;
    margin-left: 500px;
   display: flex;
   gap: 10px;
   

}
#github button{

    width: 100px;
    background-color:#191D23;
    border-radius: 12px;
    color: white;
    border: none;
    font-weight: bold;
    box-shadow:  4px 4px 12px rgba(0,0,0,0.75);
    
}
#github svg{
    width: 50px;
    height: 50px;


}
.header  path{

    fill: var(---headericon);
}



h3{

    align-self: center;
}

.floatingbtn button{

    width: 50px;
    height: 50px;
    background-color: #7B57E0;
    border-radius: 100%;
    padding: 10px;
    border: none;
    box-shadow: 2px 4px 11px black;
    position: fixed;
    top: calc(50vh + 150px) ;
    left: calc(50vw + 430px);
   

}

.entry{

    display: flex;
    justify-content: space-evenly;
}

button:not(#toogle):hover{

        background-color: #2f3817;

}


dialog{

    
width: 300px;
height: 350px;
padding: 30px;
border-radius: 12px;
position: fixed;
top: 150px;
left: calc(30vw + 150px);;
color:var(---headerfont);
border: none;

box-shadow: 4px 20px 20px rgba(0,0,0,0.75);
background-color: var(---dialogDrop);


} 

dialog button{

    font-weight: bold;

}
dialog::backdrop{

filter: blur(30px);

}

 form{

display: flex;
flex-direction: column;
gap:22px;



}
form>div{

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.statusbtn{
 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

#entryBox>div:first-child{

 width: inherit;
    justify-self: center;




}

#entryBox svg{
fill: var(---entryBox);
width: 30px;
height: 30px;
position: relative;
left: 100px;
margin-bottom: 10px;

}
input{

    padding: 3px 12px ;
    border-radius: 8px;
    outline: none;
    border: none;
    height: 30px;
   
}

input:focus{
   
border: 2px var(---inputFocus) solid;

} 
#remove,#Create{


border: none;
outline: none;
padding: 5px;
border-radius: 5px;
width: 70px;
height: 34px;

}

#Create{

    color: var(---create);
    background-color:var(---createBackground);

}
#remove{

    color: var(---remove);
    background:var(---removeBackground) ;
  

}

#Create:active{
    background-color:#ADE903 ;

} 
#remove:hover{


    background-color: #7768D8;
    border: none;
}
dialog::backdrop{

opacity: 3;

}
.bookCollection{

width: 98vw;
height:50vh ;

display:grid;

grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,150px);
gap: 30px;
padding: 20px 12px 0px 12px ;
grid-auto-columns: 1fr;
grid-auto-rows: 150px;


}

.details{

width:300px;


background-color:var(---detailsBackground) ;
padding: 12px;
border-radius: 12px;
color:var(---detailsColor);
box-shadow: 1px 3px 12px 0px rgba(0,0,0,0.75);
width: auto;



}

.details>p:first-child{

    font-size:23px;
    font-weight: 900;
    margin-bottom: 12px;
    border-bottom:1px solid var(---detailsBorderbottom) ;



}

.details button{

    padding: 3px;
    border: none;
    outline: none;
    background-color: #C71026;
    color: white;

   
    
    height: 30px;
    width: 70px;
    border-radius: 7px;
    
}

.details>p:nth-child(2)::before{
content: "By: ";

}
.details>p:nth-child(2){

    font-size: 17px;
   
    font-style: italic;

}
.details>p:nth-child(3){

    font-style: 17px;

}
.details>p:nth-child(3)::before{
content: "Pages: ";

}


#statusManager{

display: flex;
margin-left: 150px;
gap: 13px;
width: inherit;
justify-content: end;
}

#errorMessage{

background-color: #FF4545;
width: 300px;
height: 90px;



}

#errorMessage button{

width: 50px;
height: 25px;
background-color: #FFC565;
border: none;
border-radius: 4px;


}
#errorMessage button:hover{

color:white;


}
