*{
margin: 0px;
padding: 0px;
box-sizing: border-box;

}
body{

background-color: #42434b;

}

.header{

    display: flex;
    justify-content:space-evenly;
   height: 100px;
    width: 100vw;
    background-color: #000128;
    color: white;
    
}

#github{

    width: 50px;
    height: 50px;
    align-self: center;
    margin-left: 500px;
   

}
.header  path{

    fill: beige;
}



h3{

    align-self: center;
}

.floatingbtn button{

    width: 50px;
    height: 50px;
    background-color: #4A9CF0;
    border-radius: 100%;
    padding: 10px;
    border: none;
    box-shadow: 2px 6px 21px black;
    position: fixed;
    margin:calc(50vh + 60px) 0px 0px calc(50vw + 430px) ;

}

.entry{

    display: flex;
    justify-content: space-evenly;
}

button:active{

        background-color: #FD615B;

}


dialog{

    
width: 300px;
height: 350px;
padding: 30px;
border-radius: 12px;

color: white;
border: none;
margin:  50px 0px 0px calc(30vw + 150px);
box-shadow: 4px 25px 30px black;
background-color: #1A1D2B;


} 
dialog::backdrop{

filter: blur(30px);

}

 form{

display: flex;
flex-direction: column;
gap:22px;



}
form>div{

    display: flex;
    flex-direction: column;
    gap: 2px;
}

.statusbtn{
 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

#entryBox>div:first-child{

 width: inherit;
    justify-self: center;




}

#entryBox svg{
fill: white;
width: 30px;
height: 30px;
position: relative;
left: 100px;
margin-bottom: 10px;

}
input{

    padding: 3px 12px ;
    border-radius: 8px;
    outline: none;
    border: none;
    height: 30px;
    background-color: #DEDEDE;
}

input:focus{
   
border: 2px lightgreen solid;

} 
#remove,#Create{


border: none;
outline: none;
padding: 5px;
border-radius: 5px;
width: 70px;

}

#Create{

    color: white;
    background-color:#4A9CF0 ;

}
#remove{

    color: white;
    background: #D60E32;
  

}

#Create:active{
    background-color:#ADE903 ;

} 
#remove:active{


    background-color: #7768D8;
}
dialog::backdrop{

opacity: 3;

}